1) What are data structures, and why are they important ?

Ans) Data strutures are ways of organizing and storing value in different variables enabling efficient performance of the program.

They are important as they made the code much more efficient and maintable and more understandable.

2)  Explain the difference between mutable and immutable data types with examples ?

Ans) Mutable data types are data types where the value of the variables can be updated or changed as per as user choice. EXAMPLE -- Lists and Sets

Immutable data types are data types where the value of the variable can be updated or changed at any cost once declared. EXAMPLE -- Tuples, Strings

3) What are the main differences between lists and tuples in Python ?

Ans) Lists are mutable that is it's value can be updated after declaration. Denoted or enclosed by []

Tuples are immutable that is it's value can't be updated or changed after declaration. Denoted or enclosed by ()

4) Describe how dictionaries store data ?

Ans) Dictionaries stores value in form of key - value pairs and is enclosed by {}

5) Why might you use a set instead of a list in Python ?

Ans) We can use set instead of list as set stores unique characters of value. If duplicate value is entered it is only displayed one time and also counted once.

6)  What is a string in Python, and how is it different from a list ?

Ans) A string in python is a data type to store word or sentence in a variable enclosed in " " or ' '.

Its is different from list as element in lists are mutable that is it can be updated or changed but in string the values are immutable that is once declared cannot be changed.

7)  How do tuples ensure data integrity in Python ?

Ans) Tuples ensures data integrity as it is immutable and it's value cannot be changed, hence keeping the data safe and constant throughout lifetime.

8)  What is a hash table, and how does it relate to dictionaries in Python ?

Ans) Hash table is a data structure that implements array or dictionaries.

It helps in dictionary to store the key-value pair.

9) Can lists contain different data types in Python ?

Ans) Yes list can contain any and many data types in a single list

10) Explain why strings are immutable in Python ?

Ans) Strings are immutable as it ensures it's value doesn't change and ensures the data integrity.

11)  What advantages do dictionaries offer over lists for certain tasks ?

Ans) Dictionaries provides advantage to store pair value when one is related to other. It helps to store it in form of key value pair. In list we need to store all value seperately hence breaking the pair.

12)  Describe a scenario where using a tuple would be preferable over a list ?

Ans) A Scenario where we need to store some data whose integrity should be safe and value cannot be changed is the case when tuples would be more preferable over list as it is immutable that is it's value cannot be changed or updated.

13) How do sets handle duplicate values in Python ?

Ans) Sets is a collection of unique characters so the duplicate values in it is simply ignored.

14) How does the “in” keyword work differently for lists and dictionaries ?

Ans) "in" keyword in lists is used to iterate through the elements present in it whereas in dictionary it is used to check whether certain value is present or not.

15) Can you modify the elements of a tuple? Explain why or why not ?

Ans) No the elements in tuple cannot be modified. It is so to protect the integrity of the data stored in the tuple.

16) What is a nested dictionary, and give an example of its use case ?

Ans) A nested dictionary where the values are themselves dictionary is called nested dictionary.

Example of use case is when it is used to store some biodata thing then nested dictionary is considered useful

17) Describe the time complexity of accessing elements in a dictionary ?

Ans) The time complexity of accessing element in dictionary is is O(1).

It means it will take same time accessing the value regardless of the dictionary size.

18)  In what situations are lists preferred over dictionaries ?

Ans) Situations in which the value has its own independent existence and do not occur in pair then list is preferred over the dictionary.

19) Why are dictionaries considered unordered, and how does that affect data retrieval ?

Ans) Dictionaries are unordered as the values are retrieved by their key so indexing is not required and so it is unordered.

It affects the data rretrieval as we cannot retrieve data using indexing as dictionary is unordered.

20) Explain the difference between a list and a dictionary in terms of data retrieval.

Ans) In a list the data is retrieved by indexing as it is ordered.

In dictionary the data is retrieved by key as it is unordered. You can access the value by intializing the key.

In [ ]:
# 1) Write a code to create a string with your name and print it.

name = "Naman Singh Rajput"
print(name)

Naman Singh Rajput

In [ ]:
# 2) Write a code to find the length of the string "Hello World".

s = "Hello World"
length = len(s)

print("The length of Hello World is", length)

The length of Hello World is 11

In [ ]:
# 3) Write a code to slice the first 3 characters from the string "Python Programming".

s = "Python Programming"
character = s[0 : 3]
print("The first three character of Python Programming is", character)

The first three character of Python Programming is Pyt

In [ ]:
# 4) Write a code to convert the string "hello" to uppercase ?

s = "hello"
a = s.upper()
print(a)

HELLO

In [ ]:
# 5) Write a code to replace the word "apple" with "orange" in the string "I like apple"

a = "I like apple"
s = a.replace("apple", "orange")

print(s)

I like orange

In [ ]:
# 6)  Write a code to create a list with numbers 1 to 5 and print it

l = [1, 2, 3, 4, 5]
print(l)

[1, 2, 3, 4, 5]

In [ ]:
# 7) Write a code to append the number 10 to the list [1, 2, 3, 4]

l = [1, 2, 3, 4]
l.append(10)
print(l)

[1, 2, 3, 4, 10]

In [ ]:
# 8) Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

l = [1, 2, 3, 4, 5]
l.remove(3)
print(l)

[1, 2, 4, 5]

In [ ]:
# 9) Write a code to access the second element in the list ['a', 'b', 'c', 'd']

list_ele = ['a', 'b', 'c', 'd']
a = list_ele[1]
print(a)

b

In [ ]:
# 10) Write a code to reverse the list [10, 20, 30, 40, 50]

list_ele = [10, 20, 30, 40, 50]

list_ele.reverse()
print(list_ele)

[50, 40, 30, 20, 10]

In [ ]:
# 11) Write a code to create a tuple with the elements 100, 200, 300 and print it

tup = (100, 200, 300)
print(tup)

(100, 200, 300)

In [ ]:
# 12) Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

tup = ('red', 'green', 'blue', 'yellow')
a = tup[1 : 4]
print(a)

('green', 'blue', 'yellow')

In [ ]:
# 13)  Write a code to find the minimum number in the tuple (10, 20, 5, 15)

tup = [10, 20, 5, 15]
min = min(tup)
print(min)

5

In [ ]:
# 14) Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

tup = ('dog', 'cat', 'rabbit')
s = tup.index("cat")
print(s)

1

In [ ]:
# 15) Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

tup = ('apple', 'banana', 'litchi')
print("kiwi" in tup)

False

In [ ]:
# 16) Write a code to create a set with the elements 'a', 'b', 'c' and print it.

set_element = {'a', 'b', 'c'}
print(set_element)

{'c', 'b', 'a'}

In [ ]:
# 17) Write a code to clear all elements from the set {1, 2, 3, 4, 5}

set_ele = {1, 2, 3, 4, 5}
set_ele.clear()
print(set_ele)

set()

In [ ]:
# 18)  Write a code to remove the element 4 from the set {1, 2, 3, 4}

set_ele = {1, 2, 3, 4}
set_ele.remove(4)
print(set_ele)

{1, 2, 3}

In [ ]:
# 19)  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

s1 = {1, 2, 3}
s2 = {3, 4, 5}
s3 = s1.union(s2)
print(s3)

{1, 2, 3, 4, 5}

In [ ]:
# 20)  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

s1 = {1, 2, 3}
s2 = {2, 3, 4}
s3 = s1.intersection(s2)
print(s3)

{2, 3}

In [4]:
# 21) Write a code to create a dictionary with the keys "name", "age", and "city", and print it

dicti = {"Name" : "Naman", "Age" : 17, "City" : "Kolkata"}
print(dicti)
print(type(dicti))

{'Name': 'Naman', 'Age': 17, 'City': 'Kolkata'}
<class 'dict'>

In [5]:
# 22) Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

d = {"Name" : "John", "Age" : 25}
d1 = {"Country" : "USA"}

d.update(d1)
print(d)

{'Name': 'John', 'Age': 25, 'Country': 'USA'}

In [7]:
# 23) Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

d1 = {"Name" : "Alice" , "Age" : 30}
print(d1.get("Name"))

Alice

In [10]:
# 24) Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

d1 = {'Name': 'Bob', 'Age': 22, 'City': 'New York'}
d1.pop("Name")
print(d1)

{'Age': 22, 'City': 'New York'}

In [11]:
# 25) Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

d1 = {"Name" : "Alice", "City" : "Paris"}
print("City" in d1)

True

In [12]:
# 26) Write a code to create a list, a tuple, and a dictionary, and print them all

lst = ["Hello", 12, 25.2, True, 2 + 3j]
print(lst)
print(type(lst))
tupl = ("Hi", 13, 13.25, False, 3 + 2j)
print(tupl)
print(type(tupl))
dicti = {"Name" : "Naman", "Age" : 17}
print(dicti)
print(type(dicti))

['Hello', 12, 25.2, True, (2+3j)]
<class 'list'>
('Hi', 13, 13.25, False, (3+2j))
<class 'tuple'>
{'Name': 'Naman', 'Age': 17}
<class 'dict'>

In [15]:
# 27)  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
#      result

lst = [2, 99, 56, 8, 45]
print(lst)
print(sorted(lst))

[2, 99, 56, 8, 45]
[2, 8, 45, 56, 99]

In [16]:
# 28)  Write a code to create a list with strings and print the element at the third index.

lst = ["Naman", "Om", "Yash", "Ashu"]
print(lst[2])

Yash

In [19]:
# 29)  Write a code to combine two dictionaries into one and print the result.

d1 = {"Name" : "Naman", "Class" : 17, "City" : "Kolkata"}
d2 = {"Roll No." : 35, "Sub" : "Gen AI"}
d1.update(d2)
print(d1)

{'Name': 'Naman', 'Class': 17, 'City': 'Kolkata', 'Roll No.': 35, 'Sub': 'Gen AI'}

In [20]:
# 30)  Write a code to convert a list of strings into a set

l1 = ["Apple", "Banana", "Litchi", "Orange", "Strawberry"]
print(l1)
print(type(l1))

s1 = set(l1)
print(s1)
print(type(s1))

['Apple', 'Banana', 'Litchi', 'Orange', 'Strawberry']
<class 'list'>
{'Apple', 'Orange', 'Litchi', 'Banana', 'Strawberry'}
<class 'set'>